@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
a:hover {
  text-decoration: none;
}
body {
  color: #1f1d1d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
#header {
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
  transition: all 0.5s ease-in-out;
}
#header .navbar.navbar-expand-lg {
  transition: all 0.5s ease-in-out;
}
#header .navbar.navbar-expand-lg.affix {
  padding-right: 50px !important;
  padding-left: 50px !important;
  transition: all 0.5s ease-in-out;
}
#header .navbar.navbar-expand-lg.affix .navbar-brand img {
  width: 120px;
  top: 0 !important;
  transition: width 0.5s ease-in-out;
}
#header #navbar-main {
  padding-right: 0;
}
#header #navbar-main .navbar-brand img { /*update 2021-09-15*/
  /* position: absolute; */
  position: relative;
  top: -15px;
  max-height: 115px!important;
  background: #fff;
  z-index: 9;
  transition: all 0.5s ease-in-out;
}
#header #navbar-top #search-block-form--2 #edit-keys--2 {
  border: none;
  border-radius: 0;
  background: #f5f5f5;
  height: 40px;
}
#header #navbar-top #search-block-form--2 #edit-submit--2 {
  border-radius: 0;
  height: 40px;
  width: 40px;
  font-size: 0;
  position: relative;
  font-family: Fontawesome;
}
#header #navbar-top #search-block-form--2 #edit-submit--2::before {
  content: "\f002";
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 17px;
}
#header #superfish-main--2 {
  float: right;
  margin-right: 10px;
}
#header #superfish-main--2 li a {
  padding-right: 20px !important;
  padding-left: 0 !important;
}
#header #superfish-main--2 li .sf-depth-2,
#header #superfish-main--2 li .sf-depth-3 {
  background: #fff;
}
#header #superfish-main--2 li .sf-depth-2 a,
#header #superfish-main--2 li .sf-depth-3 a {
  padding-left: 15px !important;
}
#header #superfish-main--2 #main-menu-link-contentb63cba62-2523-4b1d-ab4f-fa8297ee7178 {
  height: 35px;
  width: 105px;
  background: #d33f3f;
  text-align: center;
  padding: 0;
}
#header #superfish-main--2 #main-menu-link-contentb63cba62-2523-4b1d-ab4f-fa8297ee7178 a {
  color: #fff;
  padding: 10px 10px !important;
}
.highlighted aside.container-fluid.section.clearfix {
  padding: 0;
  margin: 0;
}
#md-slider-1-block .Slider-caption-1 {
  height: 75px !important;
  width: 310px !important;
  margin-bottom: 30px;
  /* background: #1a69b4; */
  background: #3f4095; /*updated 2021-09-15*/
  color: #fff;
  font-size: 33px;
  text-align: center;
}
#md-slider-1-block .Slider-caption-1 p {
  margin: 0;
  margin-top: 20px;
}
#md-slider-1-block .slider-caption-2 {
  top: 55% !important;
  font-size: 40px;
}
.world-class-product-section {
  background: #202025;
  color: #bebebe;
}
.world-class-product-section .world-class-products {
  padding-left: 50px;
  padding-right: 50px;
}
.world-class-product-section .world-class-products h2 {
  margin-top: 100px;
  margin-bottom: 50px;
  color: #fff;
  font-weight: 400;
}
.world-class-product-section .world-class-products .btn-action {
  margin-top: 40px;
}
.world-class-product-section .world-class-products .btn-action .action-btn {
  background: #ff6633;
  color: #fff;
  padding: 10px 20px;
}
.world-class-product-section .world-class-products-video {
  padding: 0 0 !important;
}
.owl-carousel .owl-wrapper-outer {
  overflow: visible;
}
#block-views-block-testimonials-block-1 {
  padding-top: 20px;
}
.testimonials {
  position: relative;
}
.testimonials .testimonial-content {
  position: absolute;
  background: #ffffff;
  bottom: 0;
  right: 20%;
  padding: 0;
  margin: 0;
  max-width: 560px;
}
.testimonials .testimonial-content ul {
  padding: 0;
  margin: 0;
}
.testimonials .testimonial-content ul li {
  list-style: none;
}
.testimonials .testimonial-content ul .testimonial-item {
  padding-top: 20px;
}
.testimonials .testimonial-content ul .testimonial-item .comments {
  margin-top: 30px;
}
.testimonials .testimonial-content ul .testimonial-item .client-image {
  padding-left: 0;
}
.testimonials .testimonial-content ul .testimonial-item .signature {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.testimonials .testimonial-background {
  padding: 0;
}
.contact-us {
  padding-top: 50px;
  background: #414294;
  color: #fff;
}
.contact-us input,
.contact-us textarea {
  border-radius: 0;
  border: none;
}
.contact-us h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact-us p {
  color: #b0c6df;
  width: 280px;
}
.contact-us #edit-actions--2,
.contact-us edit-actions--3 {
  text-align: right;
  border-radius: 0;
  border: none;
  padding-bottom: 50px;
}
.contact-us #edit-actions--2 #edit-actions-submit,
.contact-us edit-actions--3 #edit-actions-submit {
  text-align: right;
  border-radius: 0;
  border: none;
}
.contact-us .row.region-contact-us {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.contact-us .contact-us-form-wrapper {
  margin: 0 !important;
  width: 100%;
}
#edit-actions--3 {
  text-align: right;
  border-radius: 0;
  border: none;
  padding-bottom: 50px;
}
#edit-actions--3 #edit-actions-submit {
  text-align: right;
  border-radius: 0;
  border: none;
}
.site-footer {
  padding-top: 25px;
}
.site-footer .container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}
footer {
  color: #ffffff;
  background: #282828;
  padding: 0 !important;
}
footer .site-footer__bottom .region-footer-fifth {
  margin-top: 55px !important;
}
footer .site-footer__bottom h5 {
  font-size: 18px;
  color: #fff;
}
footer .site-footer__bottom .footer-right {
  padding-top: 43px;
}
footer .site-footer__bottom .footer-right h5 {
  position: relative;
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 20px;
}
footer .site-footer__bottom .footer-right h5::before {
  position: absolute;
  content: "";
  width: 260px;
  height: 3px;
  background: #d33f3f;
  bottom: 0;
  left: 0;
}
footer .site-footer__bottom .footer-right nav a {
  padding-right: 25px;
}
footer .site-footer__bottom .footer-right .footer-quick-links {
  margin-bottom: 30px;
}
footer .site-footer__bottom .footer-right p {
  margin-bottom: 5px;
}
footer .site-footer__bottom .footer-copyright {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}
footer .site-footer__bottom .footer-copyright p {
  margin: 0;
}
#block-block-content-a2fc5390-cb3a-4b92-8253-9106179cb46c {
  margin: 0 auto;
}
.breadcrumb-item.breadcrumb-item:first-child::before {
  content: "" !important;
}
.breadcrumb-item.breadcrumb-item::before {
  content: ">" !important;
  color: #b6b7ec;
}
#content {
  padding: 0 !important;
  margin: 0 !important;
}
#main {
  padding: 0 !important;
  margin: 0 !important;
}
.title-section {
  padding-top: 25px;
  padding-bottom: 10px;
  color: #ffffff;
  padding-left: 50px;
}
.title-section .product-description-title h2 {
  font-weight: 400;
  font-size: 25px;
}
.title-section .product-description-breadcrumb .breadcrumb {
  padding: 0;
  background: none;
}
.title-section .product-description-breadcrumb .breadcrumb .breadcrumb-item {
  color: #b6b7ec;
  font-weight: 500;
}
.title-section .product-description-breadcrumb .breadcrumb .breadcrumb-item a {
  color: #ccccf5;
}
.title-section .product-description-breadcrumb .breadcrumb .breadcrumb-item.active {
  font-weight: 400;
}
.node--type-product #main-wrapper,
.node--type-product-item #main-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}
.description {
  margin-top: 40px;
}
.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6 {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
}
.product-section-prosuct-page {
  width: 100%;
}
.image-style-_00-x-450 {
  width: 100%;
  height: auto;
}
.product-image {
  position: relative;
}
.product-image .product-icon {
  position: absolute;
  left: 15px;
  top: 15px;
}
.product-image .product-icon img {
  width: 60px !important;
  height: auto;
  border-radius: 50px;
  box-shadow: 1px 1px 10px #424242;
}
.product-title {
  font-weight: 300;
  font-size: 21px;
  padding-left: 15px;
  padding-right: 15px;
}
.product-description {
  padding-left: 15px;
  padding-right: 15px;
}
.product-section-prosuct-page.other-product-links {
  border: 1px solid #d8d8d8;
}
#block-views-block-products-view-block-1 {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
#block-views-block-products-view-block-1 .product-section-prosuct-page {
  margin-bottom: 30px;
}
.basic-page-content {
  padding-left: 50px;
  padding-right: 50px;
}
.basic-page-content p {
  padding-left: 15px;
  padding-right: 15px;
}
#block-views-block-products-view-block-2 .product-icon-other {
  margin-bottom: 15px;
}
#block-views-block-products-view-block-2 .product-icon-other img {
  width: 60px;
  height: auto;
  border-radius: 40px;
  margin-right: 15px;
}
#block-views-block-products-view-block-2 {
  border: none;
  margin-top: 30px;
}
#block-views-block-products-view-block-2 .content {
  padding: 20px;
  background: #ececec;
}
#block-views-block-products-view-block-2 h2 {
  border: none;
  box-shadow: none;
  margin-bottom: 20px;
  font-size: 21px;
}
.page-node-6 .section-1 {
  margin-top: 30px;
  margin-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
.page-node-6 .section-1 .about-description {
  margin: auto;
}
.page-node-6 .section-2 {
  margin-bottom: 100px;
}
.page-node-6 .section-2 .team-image img {
  width: 100%;
  margin-top: 50px;
}
.page-node-6 .section-2 .team-description {
  margin: auto;
}
.page-node-6 .section-2 .col-md-12 {
  background: rgba(235, 0, 0, 0.7);
  color: #fff;
}
.page-node-6 .section-3 {
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}
.page-node-6 .section-3 .history-description {
  margin: auto;
  text-align: right;
}
.page-node-6 .section-3 .history-description h3 {
  margin-bottom: 30px;
}
.page-node-6 .section-4 {
  padding-left: 50px;
  padding-right: 50px;
}
.page-node-6 .section-4 .award-section h3 {
  margin-bottom: 30px;
}
.page-node-6 .section-4 .award-images img {
  width: 100%;
  height: auto;
}
.page-node-6 .section-4 .award-description ul {
  padding: 0;
}
#block-block-content-625776d4-4858-4062-942a-cf1add38f92f {
  margin-top: 30px;
  background: #e0e0e0;
  padding: 20px;
}
#block-webform-block {
  margin-top: 30px;
}
#block-webform-block h2 {
  padding-left: 15px;
  font-size: 22px;
  margin-bottom: 15px;
}
#block-webform-block input,
#block-webform-block textarea {
  border-radius: 0;
}
#block-webform-block #edit-actions--2 {
  text-align: right;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}
#block-webform-block #edit-actions--2 #edit-actions-submit {
  text-align: right;
  border-radius: 0;
  border: none;
}
#block-block-content-2c55737c-070a-4453-bb6d-5948c6ea7ff4 {
  padding-left: 0;
  margin-top: 30px;
}
#block-views-block-products-view-block-4 {
  margin-bottom: 50px;
  padding: 80px 50px 0;
  overflow: hidden;
}
#block-views-block-products-view-block-4 .content {
  overflow: hidden;
}
#block-views-block-products-view-block-4 .product-section-prosuct-page {
  border: none;
}
#block-views-block-products-view-block-4 .product-section-prosuct-page .product-description {
  padding: 0;
}
#block-views-block-products-view-block-4 .product-section-prosuct-page .product-title {
  padding: 0;
}
#block-views-block-products-view-block-4 h2 {
  margin-bottom: 40px;
  text-align: center;
  font-weight: 300;
}
#block-views-block-products-view-block-4 .owl-item {
  padding-left: 15px;
  padding-right: 15px;
}
.careers-page-section {
  padding-left: 50px;
  padding-right: 15px;
}
.careers-page-section #block-block-content-578bf152-902e-4097-8aaa-c57eb23de44c {
  margin-top: 30px;
}
.careers-page-section #block-block-content-578bf152-902e-4097-8aaa-c57eb23de44c img {
  width: 100%;
  margin-bottom: 20px;
}
.careers-page-section #block-block-content-578bf152-902e-4097-8aaa-c57eb23de44c h2 {
  font-size: 22px;
  margin-bottom: 15px;
}
.careers-page-section #block-block-content-578bf152-902e-4097-8aaa-c57eb23de44c ul {
  padding-left: 15px;
}
.page-node-10 #block-webform-block h2 {
  padding-left: 0;
}
.page-node-10 #block-webform-block .content {
  background: #202025;
  padding: 50px;
  color: #fff;
}
.page-node-10 #block-webform-block .content input,
.page-node-10 #block-webform-block .content textarea {
  border-radius: 0;
  border: none;
}
.page-node-10 #block-webform-block .content #edit-actions--2 {
  text-align: right;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  width: 100%;
}
.page-node-10 #block-webform-block .content #edit-actions--2 #edit-submit--2 {
  text-align: right;
  border-radius: 0;
  border: none;
  margin-right: 15px;
}
.page-node-10 #block-webform-block .form-item-phone {
  display: flex;
}
#block-views-block-product-items-block-1,
#block-views-block-product-items-block-2 {
  margin-top: 50px;
}
#block-views-block-product-items-block-1 img,
#block-views-block-product-items-block-2 img {
  width: 100%;
  height: auto;
}
#block-views-block-product-items-block-1 .product-section-prosuct-page,
#block-views-block-product-items-block-2 .product-section-prosuct-page {
  margin-bottom: 30px;
}
#block-views-block-product-items-block-1 h2,
#block-views-block-product-items-block-2 h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 21px;
}
#block-views-block-product-items-block-1 h4,
#block-views-block-product-items-block-2 h4 {
  font-size: 19px;
}
#block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b {
  margin-bottom: 60px;
  padding-left: 50px;
  padding-right: 50px;
}
#block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b .front-services .service-item {
  position: relative;
  margin-top: 30px;
}
#block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b .front-services .service-item .service-title {
  position: absolute;
  bottom: 9px;
  font-size: 19px;
  color: #fff;
  padding: 35px;
  padding-bottom: 0;
}
#block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b .front-services .service-item img {
  width: 100%;
}
#user-login-form {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  background: #ececec;
}
#user-login-form #edit-actions {
  text-align: right;
}
#user-login-form #edit-actions #edit-submit {
  border: none;
  border-radius: 0;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 992px) {
  #header {
    padding: 0;
  }
  #header #block-block-content-94266234-501b-49ee-bedf-242bcb874dfe {
    width: 500px;
    text-align: right;
  }
  #md-slider-1-block .md-slide-item .md-objects {
    margin: auto 60px;
  }
  #block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b .service-title {
    font-size: 13px !important;
  }
  .world-class-product-section .world-class-products {
    font-size: 12px;
  }
  .world-class-product-section .world-class-products p {
    margin-bottom: 10px !important;
  }
  .world-class-product-section .world-class-products h2 {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .world-class-product-section .world-class-products .btn-action {
    margin-top: 25px;
  }
  .world-class-product-section .world-class-products-video {
    overflow: auto;
  }
  .world-class-product-section .world-class-products-video video {
    width: auto;
    z-index: 999;
  }
  .testimonial-content {
    width: 400px !important;
  }
  .testimonial-content #block-views-block-testimonials-block-1 .client-image {
    max-width: 200px !important;
  }
  .testimonial-content #block-views-block-testimonials-block-1 .client-image img {
    max-width: 100% !important;
    height: auto !important;
  }
  .slider-caption-2 {
    width: 50% !important;
  }
  .infographic {
    overflow: auto;
  }
  .infographic img {
    height: 100% !important;
    width: auto !important;
  }
  .history-image {
    overflow: auto;
  }
  .history-image img {
    height: 100% !important;
    width: auto !important;
  }
  #block-views-block-products-view-block-2 .product-icon-other img {
    width: 100% !important;
    border-radius: 0 !important;
  }
  .node--type-service .product-image {
    overflow: auto;
  }
  .node--type-service .product-image img {
    height: 100% !important;
    width: auto !important;
  }
  .page-node-10 #block-webform-block .content {
    padding: 15px !important;
  }
}
@media (max-width: 768px) {
  .world-class-products {
    padding-bottom: 30px;
  }
  .world-class-products-video {
    overflow: auto;
  }
  .world-class-products-video video {
    height: 100% !important;
    width: auto !important;
  }
  .testimonials {
    height: 300px;
  }
  .testimonials .testimonial-background {
    height: 301px;
    overflow: auto;
  }
  .testimonials .testimonial-background img {
    height: 100%;
    width: auto;
  }
  .contact-us p {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .contact-us h2 {
    margin-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-toggler.navbar-toggler-right {
    background: #d33f3f;
    margin-right: 10px;
    position: relative;
  }
  .navbar-toggler.navbar-toggler-right::after {
    position: absolute;
    content: '\f0c9';
    font-family: Fontawesome;
    right: 15px;
    top: 7px;
    font-size: 25px;
    color: #fff;
  }
  #superfish-main--2 {
    margin-top: 30px;
  }
  #md-slider-1-block .slider-caption-2 {
    top: 60% !important;
    width: 100% !important;
  }
  .infographic img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 30px;
  }
  .history-image img {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 30px;
  }
  .page-node-6 .section-3 {
    margin-bottom: 55px;
  }
  .product-image {
    margin-bottom: 30px;
  }
  #block-views-block-products-view-block-2 .product-icon-other img {
    width: 60px !important;
    height: auto;
    border-radius: 60px !important;
  }
}
@media (max-width: 576px) {
  #block-search-form-block {
    width: fit-content;
    float: right;
  }
  .row.region.region-top-header-form {
    display: block;
  }
  .footer-right:last-child {
    padding-top: 0;
  }
  #superfish-main--2-accordion {
    display: contents;
  }
  #superfish-main--2-accordion .sf-hidden {
    display: contents !important;
    visibility: visible;
  }
  #superfish-main--2-accordion li ul {
    padding-left: 20px;
  }
}


/* 2021-09-15 updates*/

#main-standardfront-page a{
  color: #3f4095;
  font-size: 14px;
}

