  {%
    set classes = [
      node.bundle|clean_class,
      node.isPromoted() ? 'is-promoted',
      node.isSticky() ? 'is-sticky',
      not node.isPublished() ? 'is-unpublished',
      view_mode ? view_mode|clean_class,
      'clearfix',
    ]
  %}


  <article{{ attributes.addClass(classes) }}>

    {{ title_prefix }}
    {% if label and not page %}
      <h2{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}

    {% if node.body.value %}
      <div class="row description">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 basic-page-content">
          {{ node.body.value | check_markup(node.body.format) }}
        </div>
      </div>
    {% endif %}

  </article>
