{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}


<article{{ attributes.addClass(classes) }}>

  <div class="inner-content-section">
    <div class="section-1">
      <div class="row">

        {% if node.field_infographic.value %}
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 infographic">
            <img src="{{ file_url(node.field_infographic.entity.fileuri) }}" alt="{{ node.field_infographic.alt }}" width="100%">
          </div>
        {% endif %}

        {% if node.field_about_description.value %}
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 about-description">
            {{ node.field_about_description.value | check_markup(node.field_about_description.format) }}
          </div>
        {% endif %}

      </div>
    </div>

    <div class="section-2" id="our-team">
      <div class="row" style="background: url('{{ file_url(node.field_section_2_background_banne.entity.fileuri) }}'); background-size: cover; height:350px; width:100%">

        {% if node.field_section_2_content.value %}
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="container" style="margin: 0 auto;">
              {{ node.field_section_2_content.value | check_markup(node.field_section_2_content.format) }}
            </div>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="section-3" id="history">
      <div class="row">

        {% if node.field_history_image.value %}
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 history-image">
            <img src="{{ file_url(node.field_history_image.entity.fileuri) }}" alt="{{ node.field_history_image.alt }}" width="100%">
          </div>
        {% endif %}

        {% if node.field_history_description.value %}
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 history-description">
            <h3>History</h3>
            {{ node.field_history_description.value | check_markup(node.field_history_description.format) }}
          </div>
        {% endif %}

      </div>
    </div>

    <div class="section-4" id="awards">
      <div class="row">

        {% if node.field_award_content.value %}
          <div class="col-md-12 col-sm-12 col-xs-12 award-section">
            <h3>Awards and Accolades</h3>
            {{ node.field_award_content.value | check_markup(node.field_award_content.format) }}
          </div>
        {% endif %}

      </div>
    </div>
  </div>

</article>
