@import "variable.less";

body{
	.body-color();
	.poppins();
	.w-400();
	.font-14();
}


// header begins

#header{
	position: relative;
	padding-right: 50px;
	padding-left: 50px;
	transition: all .5s ease-in-out;

	.navbar.navbar-expand-lg{
		transition: all .5s ease-in-out;
	}

	.navbar.navbar-expand-lg.affix{
		padding-right: 50px !important;
		padding-left: 50px !important;
		transition: all .5s ease-in-out;

		.navbar-brand{
			img{
				width: 120px;
				top: 0 !important;
				transition: width .5s ease-in-out;
			}
		}
	}

	#navbar-main{
		padding-right: 0;

		.navbar-brand{
			img{
				position: absolute;
				top: -45px;
		    	max-height: 
		    	115px!important;
		    	background: #fff;
				z-index: 9;
				transition: all .5s ease-in-out;
			}
		}
	}

	#navbar-top{
		#search-block-form--2{
			#edit-keys--2{
				border: none;
				border-radius: 0;
				background: #f5f5f5;
				height: 40px;
			}

			#edit-submit--2{
				border-radius: 0;
				height: 40px;
				width: 40px;
				font-size: 0;
				position: relative;
				.fontawesome();

				&::before{
					content: "\f002";
					position: absolute;
					top: 5px;
					left: 12px;
					font-size: 17px;
				}
			}
		}
	}

	// #navbar-main{
	// 	#block-system-menu-block-main{
	// 		.nav-item{
	// 			padding-right: 20px;
	// 			padding-left: 0;
	//
	// 			&:last-child{
	// 				height: 35px;
	// 				width: 105px;
	// 				background: #d33f3f;
	// 				text-align: center;
	// 				padding: 0;
	//
	// 				a{
	// 					.color(#fff);
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	#superfish-main--2{
		float: right;
		margin-right: 10px;

		li{
			a{
				padding-right: 20px !important;
				padding-left: 0 !important;
			}

			.sf-depth-2, .sf-depth-3{
				background: #fff;
				// box-shadow: 1px 1px 10px #353535;

				a{
					padding-left: 15px !important;
				}
			}
		}

		#main-menu-link-contentb63cba62-2523-4b1d-ab4f-fa8297ee7178{
			height: 35px;
			width: 105px;
			background: #d33f3f;
			text-align: center;
			padding: 0;

			a{
				.white();
				padding: 10px 10px !important;
			}
		}
	}
}


// slider begins-------------------------------
.highlighted{
	aside.container-fluid.section.clearfix{
		padding: 0;
		margin: 0;
	}
}

#md-slider-1-block{
	.Slider-caption-1{
		height: 75px !important;
		width: 310px !important;
		margin-bottom: 30px;
		.bg(#1a69b4);
		.white();
		.fonts(33px);
		text-align: center;

		p{
			margin: 0;
			margin-top: 20px;
		}
	}

	.slider-caption-2{
		top: 55% !important;
		.fonts(40px);
	}
}


// world class product section
.world-class-product-section{
	.bg(#202025);
	.color(#bebebe);

	.world-class-products{
		padding-left: 50px;
		padding-right: 50px;

		h2{
			margin-top: 100px;
			margin-bottom: 50px;
			.white();
			font-weight: 400;
		}

		.btn-action{
			margin-top: 40px;

			.action-btn{
				.bg(#ff6633);
				.white();
				padding:10px 20px;
			}
		}
	}
	.world-class-products-video{
		padding: 0 0 !important;
	}
}


// Testimonials begin
.owl-carousel .owl-wrapper-outer{
		overflow: visible;
}

#block-views-block-testimonials-block-1{
		padding-top: 20px;
}

.testimonials{
	position: relative;

	.testimonial-content{
		position: absolute;
		.bg(#fff);
		bottom: 0;
		right: 20%;
		padding: 0;
		margin: 0;
		max-width: 560px;

		ul{
			padding: 0;
			margin: 0;

			li{
				list-style: none;
			}

			.testimonial-item{
				padding-top: 20px;

				.comments{
					margin-top: 30px;
				}

				.client-image{
					padding-left: 0;
				}

				.signature{
					position: absolute;
					bottom: 20px;
					right: 20px;
				}
			}
		}
	}

	.testimonial-background{
		padding: 0;
	}
}

// contact us front begin
.contact-us{
	padding-top: 50px;
	.bg(#414294);
	.white();

	input,textarea{
		border-radius: 0;
		border: none;
	}

	h2{
			.fonts(32px);
			font-weight: 400;
			margin-bottom: 30px;
	}

	p{
		.color(#b0c6df);
		width: 280px;
	}

	#edit-actions--2, edit-actions--3{
		text-align: right;
		border-radius: 0;
		border: none;
		padding-bottom: 50px;

		#edit-actions-submit{
			text-align: right;
			border-radius: 0;
			border: none;
		}
	}

	.row.region-contact-us{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.contact-us-form-wrapper{
		margin: 0 !important;
		width: 100%;
	}

	.contact-us-form-wrapper{

	}

	.contact-us-phone{
		//display: flex;
	}
}

#edit-actions--3{
	text-align: right;
	border-radius: 0;
	border: none;
	padding-bottom: 50px;

	#edit-actions-submit{
		text-align: right;
		border-radius: 0;
		border: none;
	}
}


// footer begin

.site-footer{
	padding-top:25px;

	.container-fluid{
		padding-right: 50px;
		padding-left: 50px;
	}
}

footer{
	.color(#fff);
	.bg(#282828);
	padding: 0 !important;

		.site-footer__bottom{
			.region-footer-fifth{
				margin-top: 55px !important;
			}

			h5{
				.fonts(18px);
				.white();
			}

			.footer-right{
				padding-top: 43px;

				h5{
					position: relative;
					line-height: 40px;
					margin-top: 25px;
					margin-bottom: 20px;

					&::before{
						position: absolute;
						content: "";
						width: 260px;
						height: 3px;
						.bg(#d33f3f);
						bottom: 0;
						left: 0;
					}
				}

				nav{
					a{
						padding-right: 25px;
					}
				}

				.footer-quick-links{
					margin-bottom: 30px;
				}

				p{
					margin-bottom: 5px;
				}
			}

			.footer-copyright{
				margin-top: 40px;
				margin-bottom: 15px;
				text-align: center;

				p{
					margin: 0;
				}
			}
		}
}

#block-block-content-a2fc5390-cb3a-4b92-8253-9106179cb46c{
	margin: 0 auto;
}


// product page------------------

.breadcrumb-item.breadcrumb-item{
	&:first-child{
		&::before{
			content: "" !important;
		}
	}

	&::before{
		content: ">" !important;
		.color(#b6b7ec);
	}
}

#content{
	padding: 0 !important;
	margin: 0 !important;
}

#main{
	padding: 0 !important;
	margin: 0 !important;
}

.title-section{
	padding-top: 25px;
	padding-bottom: 10px;
	.color(#fff);
	padding-left: 50px;

	.product-description-title{
			h2{
				font-weight: 400;
				font-size: 25px;
			}
	}

	.product-description-breadcrumb{
			.breadcrumb{
				padding: 0;
				.bg(none);

				.breadcrumb-item{
					.color(#b6b7ec);
					font-weight: 500;

					a{
						.color(#ccccf5);
					}
				}

				.breadcrumb-item.active{
					font-weight: 400;
				}
			}
	}
}
.node--type-product, .node--type-product-item{
	#main-wrapper{
		padding-left: 50px;
		padding-right: 50px;
	}
}

.description{
	margin-top: 40px;

	h1,h2,h3,h4,h5,h6{
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.product-section-prosuct-page{
	width: 100%;
}

.image-style-_00-x-450{
	width: 100%;
	height:auto;
}


.product-image{
	position: relative;
	.product-icon{
		position: absolute;
		left: 15px;
		top:15px;
		img{
			width: 60px !important;
			height: auto;
			border-radius: 50px;
			// border: 1px solid #fff;
			box-shadow: 1px 1px 10px #424242;
		}
	}
}

.product-title{
	font-weight: 300;
	font-size: 21px;
	padding-left: 15px;
	padding-right: 15px;
}

.product-description{
	padding-left: 15px;
	padding-right: 15px;
}

.product-section-prosuct-page.other-product-links{
	border: 1px solid #d8d8d8;
}

#block-views-block-products-view-block-1{
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;

	.product-section-prosuct-page{
		margin-bottom: 30px;
	}
}

.basic-page-content{
		padding-left: 50px;
		padding-right: 50px;

		p{
			padding-left: 15px;
			padding-right: 15px;
		}
}

// inner products--------------------------------------
#block-views-block-products-view-block-2{
	.product-icon-other{
		margin-bottom: 15px;

		img{
			width: 60px;
			height: auto;
			border-radius: 40px;
			margin-right: 15px;
		}
	}
}

// other products side menu------------------------------
#block-views-block-products-view-block-2{
	border: none;
	margin-top: 30px;

	.content{
		padding: 20px;
		background: #ececec;
	}

	h2{
		border: none;
		box-shadow: none;
		// margin-left: 15px;
		margin-bottom: 20px;
		font-size: 21px;
	}
}


// about us-------------------------------------------------
.page-node-6{

	.section-1{
		margin-top: 30px;
		margin-bottom: 100px;
		padding-left: 50px;
		padding-right: 50px;

		.about-description{
			margin: auto;
		}

		.infographic{

		}
	}

	.section-2{
		margin-bottom: 100px;

		.team-image{

			img{
				width: 100%;
				margin-top: 50px;
			}
		}

		.team-description{
			margin: auto;
		}

		.col-md-12{
				background: rgba(235, 0, 0, .7);
				.white();

				.container{
					// margin-top: 30px !important;
				}
		}
	}

	.section-3{
		padding-left: 50px;
		padding-right: 50px;
		margin-bottom: 100px;

		.history-description{
			margin: auto;

			h3{
				margin-bottom: 30px;
			}
		}
	}

	.section-4{
		padding-left: 50px;
		padding-right: 50px;

		.award-section{
			h3{
				margin-bottom: 30px;
			}
		}

		.award-images{
			img{
				width: 100%;
				height: auto;
			}
		}

		.award-description{
			ul{
				padding: 0;
			}
		}
	}
}


// contact us-----------------------------------
#block-block-content-625776d4-4858-4062-942a-cf1add38f92f{
	margin-top: 30px;
	background: #e0e0e0;
	padding: 20px;
}

#block-webform-block{
	margin-top: 30px;

	h2{
		padding-left: 15px;
		font-size: 22px;
		margin-bottom: 15px;
	}

	input,textarea{
		border-radius: 0;
	}

	#edit-actions--2{
		text-align: right;
		border-radius: 0;
		border: none;
		margin-bottom: 0;

		#edit-actions-submit{
			text-align: right;
			border-radius: 0;
			border: none;
		}
	}
}

#block-block-content-2c55737c-070a-4453-bb6d-5948c6ea7ff4{
	padding-left: 0;
	margin-top: 30px;
}


// front products-------------------------
#block-views-block-products-view-block-4{
	margin-bottom: 80px;
	padding: 80px 50px 0;
	overflow: hidden;

	.content{
		overflow: hidden;
	}

	.product-section-prosuct-page{
		border: none;

		.product-description{
			padding:0;
		}

		.product-title{
			padding:0;
		}
	}

	h2{
		margin-bottom: 40px;
		text-align: center;
		font-weight: 300;

	}

	.owl-item{
		padding-left: 15px;
		padding-right: 15px;
	}
}


// careers--------------------------------
.careers-page-section{
	padding-left: 50px;
	padding-right: 15px;

	#block-block-content-578bf152-902e-4097-8aaa-c57eb23de44c{
		margin-top: 30px;

		img{
			width: 100%;
			margin-bottom: 20px;
		}

		h2{
			font-size: 22px;
			margin-bottom: 15px;
		}

		ul{
			padding-left: 15px;
		}
	}
}

.page-node-10{
	#block-webform-block{
		h2{
				padding-left: 0;
		}

		.content{
			background: #202025;
			padding: 50px;
			.white();

			input,textarea{
				border-radius: 0;
				border: none;
			}

			#edit-actions--2{
				text-align: right;
				border-radius: 0;
				border: none;
				margin-bottom: 0;
				width: 100%;

				#edit-submit--2{
					text-align: right;
					border-radius: 0;
					border: none;
					margin-right: 15px;
				}
			}
		}

		.form-item-phone{
			display: flex;
		}
	}
}


#block-views-block-product-items-block-1, #block-views-block-product-items-block-2{
	margin-top: 50px;

	img{
		width: 100%;
		height:auto;
	}

	.product-section-prosuct-page{
		margin-bottom: 30px;
	}

	h2{
		margin-top: 30px;
		margin-bottom: 20px;
		padding-left: 15px;
		font-size: 21px;
	}

	h4{
		font-size: 19px;
	}
}


#block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b{
	margin-bottom: 60px;
	padding-left: 50px;
	padding-right: 50px;

	.front-services{
		.col-md-3{
			position: relative;

			.service-title{
				position: absolute;
				bottom: 9px;
				font-size: 19px;
				.white();
				padding: 35px;
				padding-bottom: 0;
			}

			img{
				width: 100%;
			}
			
		}
	}
}







// media query
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {   }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
	#header{
		padding: 0;
		
		#block-block-content-94266234-501b-49ee-bedf-242bcb874dfe{
			width: 500px;
			text-align: right;
		}
	}

	#md-slider-1-block{
		.md-slide-item{
			.md-objects{
				margin: auto 60px;
			}
		}
	}

	#block-block-content-5db7f9d0-d148-4b65-8504-c2160af1065b{
		.service-title{
			font-size: 13px !important;
		}
	}

	.world-class-product-section{
		.world-class-products{
			font-size: 12px;

			p{
				margin-bottom: 10px !important;
			}

			h2{
				margin-top: 15px;
				font-size: 20px;
				margin-bottom: 25px;
			}

			.btn-action{
				margin-top:25px;
			}
		}

		.world-class-products-video{
			video{
				width: auto;
			}
		}
	}

	.testimonial-content{
		width: 400px !important;

		.block-views-block-testimonials-block-1{
			.client-image{
				width: 150px;
				height: auto;
			}
		}
	}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {   }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }



