@font-face{
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}


.body-color(){
	color: #1f1d1d;
}

.poppins(){
	font-family: 'Poppins', sans-serif;
}

.w-400(){
	font-weight: 400;
}

.font-14(){
	font-size: 14px;
}


.fontawesome(){
  font-family: Fontawesome;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

a{
  &:hover{
    text-decoration: none;
  }
}
// colours

.white(){
  color: #fff;
}


.color(@colors){
  color: @colors;
}

.bg(@color){
  background: @color;
}

.fonts(@size){
  font-size: @size;
}
